<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @subscription.email %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @subscription.card_number %>
</p>

<p>
  <strong>Card code:</strong>
  <%= @subscription.card_code %>
</p>

<p>
  <strong>Card month:</strong>
  <%= @subscription.card_month %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
